#root--layout{
    display: flex;
}
#pro-sidebar{
    height: 100vh;
    /* box-shadow: #3e333a66 5px 5px, #3932374d 10px 10px, #55495133 15px 15px, #6958631a 20px 20px, #5c4b560d 25px 25px; */
    box-shadow: rgba(206, 187, 187, 0.35) 0px 0px 15px;
    border: 1px solid #0000001b;
}
.logo--contaner {
    position: relative;
  }
  .logo--div {
    text-align: center;
    padding: 3.5rem;
  }
  #logo {
    font-size: 32px;
    margin: 0;
    letter-spacing: 0.8rem;
  }
  .logo--div > p:last-child {
    margin: 0;
    font-size: 14px;
  }
  #toggleIcon{
      position: absolute;
      right: 0;
      bottom: -1.5rem;
      background-color: black;
      width: 30px;
      height: 30px;
      color: white;
      text-align: center;
      border-radius: 20px;
      z-index: 2;
  }

  .ps-sidebar-container{
    background-color: #0000001b !important;
    color: white !important;
  }

  .ps-active {
    background-color: white;
    color: black;
  }
  .ps-active:hover {
    background-color: orange !important;
    color: orange;
  }
  .ps-menu-button:hover {
    background-color: orange !important;
  }

  
/* header */
.page--contaner{
    width: 100%;
    padding: 1rem;
}
.page--contaner>main{
    padding-top: 4rem;
}
.header--div{
    padding-inline: 20%;
    /* width: 100%; */
}
header{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.input--filed{
   display: flex;
   align-items: center; 
}
#search-icon{
    margin-left: -27px;
}
.input--filed>input{
    padding: .6rem 1rem;
    padding-right: 2rem;
    border-radius: 10px;
    width: 250px;
    outline: none;
    background-color: #0000001b;
    color: white;
    border: 1px solid lightgray;
}
.icon--div{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}
.user--avtar>img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.icon--div>span{
    position: absolute;
    top: -2px;
    left: 1rem;
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 20px;
}